<!DOCTYPE html>

<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>


	<div id="body">
        <!-- Include header partial. -->
        {% include 'header.html' %}
		
		<div id="content-1">
            <!-- Include navigation partial. -->
            {% include 'navigation.html' %}
			
			<div id="content-2">
                <!-- Main content block to be supplied by page. -->
                {% block content %}
                {% endblock %}
                
                <!-- Include sidebar partial. -->
                {% include 'sidebar.html' %}
			</div>
        </div>
        
        <!-- Include footer partial. -->
        {% include 'footer.html' %}
	</div>
</body>

</html>