<style>
a {
    #display:inline-block;
    margin:0px 0px 5px 5px;
    padding:6px 8px;
    font-size:14px;
    outline:none;
    text-align:center;
    width:50px;
    line-height:30px;
    cursor: pointer;
    text-decoration:blink
}

a.btn_a:hover {
    color:white;
    background-color:rgba(0,64,156,.8);
}

a.btn_b:hover {
    color:white;
    background-color:rgba(255,0,0,.8);
}
</style>

<nav id="nav">
    <a class="btn_a" href="{{ url_for('home_bp.home') }}">Home</a>
    <a class="btn_a" href="{{ url_for('authentication_bp.register') }}">Register</a>
    <a class="btn_a" href="{{ url_for('authentication_bp.login') }}">Login</a>
    <a class="btn_b" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
    <a class="btn_a" href="{{ url_for('news_bp.articles_by_date') }}">Browse timeline</a>

    <div>
        Browse by tag
        {% for key in tag_urls %}
            <a href= "{{ tag_urls[key] }}">{{ key }}</a>
        {% endfor %}
    </div>
</nav>